.button{
	z-index: 5;
	--lightGreen: #009f7f;
	display: flex;
	width: 95%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	background-color: #f3f4f6;
	overflow: hidden;
	cursor: pointer;

	* {
		color: var(--textColor);
	}

	i{
		background-color: #e5e7eb;
		cursor: pointer;
		padding: 14px;
	}


	&:hover{
		background-color: var(--lightGreen);
		*{
			color:white;
		}

	    i{
			background-color: var(--green);

	    }
	}

	.minus{

	}

	p{
		width: 100%;
	}
	.plus{

	}

	.hide{
		display: none;
	}
}

.active{
	background-color: var(--lightGreen);

	* {
		color: white;
	}

	i{
		background-color: var(--lightGreen);
		&:hover{
			background-color: var(--green);
		}
	}


}

